@media screen and (min-width: 992px) {
  .desktop-hide {
    display: none;
  }
  .dpt-menu {
    position: absolute;
    top: 100%;
    width: 300px;
    background-color: #fff;
    border: 1px solid $boder-color;
    border-top: 0;
    border-bottom: 0;
  }

  .dpt-menu > ul > li > a {
    padding: 5px 20px;
    border-bottom: 1px solid $boder-color;
    font-weight: 500;
  }

  .slider > div > .wrapper {
    width: calc(100% - (300px + 32px));
    margin-left: auto;
  }
}

@media screen and (max-width: 992px) {
  nav .fly-item {
    // top: 91%;
    // right: 68%;
    position: static;
  }
  .icon-small {
    display: inline;
    font-size: 12px;
  }
  .second-links {
    gap: 0;
  }
  .container {
    padding: 12px 32px;
  }
  .mobile-hide {
    display: none;
  }
  .desktop-hide {
    display: block;
  }

  .site-off {
    position: fixed;
    width: 320px;
    height: 100%;
    background-color: white;
    overflow-y: auto;
    z-index: 1000;
    transform: translateX(-100%);
    visibility: hidden;
    transition: all 0.4s;
  }
  .site-off.showmenu {
    transform: translateX(0);
    visibility: visible;
  }

  .off-canvas {
    width: 100%;
    height: 100%;
    padding: 24px;
    touch-action: auto;
  }

  .off-canvas .canvas-head {
    justify-content: space-between;
    padding: 24px;
    margin: -24px -24px 24px;
    background-color: $secondary-dark-color;
    border-bottom-right-radius: 160px 25px;
  }
  .off-canvas .canvas-head .logo a {
    color: white;
  }

  .off-canvas .canvas-head .logo {
    z-index: 10;
    position: relative;
  }

  .off-canvas .canvas-head .logo .circle {
    opacity: 0.75;
  }

  .t-close {
    color: white;
    font-size: 20px;
    width: 32px;
    height: 32px;
    background-color: $secondary-dark-color;
    border-radius: 50%;
    transition: all 0.2s;
  }

  .t-close:hover {
    background-color: white;
    color: $secondary-dark-color;
    cursor: pointer;
    opacity: 0.75;
  }

  .off-canvas .dpt-head {
    font-size: 13px;
    font-weight: 600;
    padding: 16px;
    text-align: center;
    background-color: $light-bg-color;
    margin-bottom: 16px;
    border-radius: 7px 7px 0 0;
  }

  .off-canvas .has-child > :where(ul, .mega) {
    font-size: 13px;
    font-weight: 300;
    line-height: 28px;
    padding-left: 28px;
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
  }
  .off-canvas nav .expand .mega,
  .off-canvas .dpt-menu .expand > :where(ul, .mega) {
    max-height: 1500px;
  }

  .off-canvas .thetop-nav ul,
  .off-canvas nav > ul {
    flex-direction: column;
    align-items: start;
    margin: 20px 0;
    font-size: 12px;
    font-weight: 800;
    line-height: 36px;
    padding-top: 20px;
    border-top: 1px solid $boder-color;
  }
  .off-canvas nav .mega {
    padding-left: 0;
  }
  .off-canvas nav .mega .products {
    display: none;
  }
  .off-canvas .dpt-menu .icon-small {
    transform: rotate(90deg);
  }

  .off-canvas .thetop-nav .right ul ul {
    flex-direction: row;
    display: none;
    transition: all .3s;
  }
  .off-canvas .thetop-nav .right .expand ul{
    display: flex;
  }
  .off-canvas .thetop-nav .right ul ul li a {
    padding: 8px;
    border: 1px solid $boder-color;
    line-height: 16px;
    margin: 0 8px;
  }
}
