$primary-color: #FFD1DC;
$primary-color2: #ff6b6b;
$secondary-color: #794afa;
$secondary-dark-color: #453c5c;
$light-bg-color: #f2f3f5;
$dark-bg-color: #A9A9A9;
$light-text-color: #7c899a;
$boder-color: #e5e8ec;
$dark-color: #0a021c;