@import "variables";
@import "default";

// header-top
.header-top .wrapper {
  font-size: 14px;
  font-weight: 300;
  justify-content: space-between;
  line-height: 42px;
}
.header-top .wrapper ul {
  gap: 32px;
}

.header-top ul li:nth-child(5),
.header-top ul li:nth-child(4) {
  position: relative;
}
.header-top ul ul {
  position: absolute;
  left: -16px;
  background-color: #fff;
  border: solid 1px $boder-color;
  z-index: 10;
  line-height: 32px;
  display: none;
}
:where(.header-top, .thetop-nav) .right .current a {
  background-color: $boder-color;
}
:where(.header-top, .thetop-nav) .right ul ul li a {
  padding: 4px 16px;
}
.header-top li:hover ul {
  display: block;
}
.header-top .right ul ul li:hover {
  background-color: $dark-bg-color;
}

// header nav

.header-nav {
  margin-bottom: 24px;
  border-bottom: 1px solid $boder-color;
}
.trigger {
  font-size: 24px;
  padding: 4px;
  margin-right: 8px;
}

.logo a {
  font-size: 28px;
  font-weight: 600;
  display: flex;
  position: relative;
  margin-right: 32px;
  padding-left: 12px;
}

.circle {
  position: absolute;
  top: -15px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: $light-bg-color;
  z-index: -1;
}

.circle::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: $secondary-color;
  opacity: 0.4;
}

.header-nav nav > ul {
  line-height: 100px;
  gap: 32px;
}

.fly-item {
  position: absolute;
  height: 16px;
  font-weight: 300;
  padding: 3px;
  line-height: 10px;
  text-align: center;
  color: #fff;
}

nav .fly-item {
  top: 24%;
  background-color: $primary-color2;
  border-radius: 3px;
  right: -42px;
}

.header-nav .right {
  position: relative;
  margin-left: auto;
}

.header-nav .right .icon-large {
  position: relative;
}

.header-nav .right .fly-item {
  width: 20px;
  height: 20px;
  background-color: $secondary-dark-color;
  border-radius: 50%;
  top: -10px;
  right: 4px;
}
.fly-item .item-number {
  position: absolute;
  top: 3px;
  right: 5px;
  font-size: 16px;
}
.second-links {
  gap: 10px;
}

.header-nav nav .mega .wrapper {
  display: flex;
}

.mega .flexcol {
  flex: 1;
  min-width: 180px;
  padding-right: 40px;
  margin-bottom: 24px;
  z-index: 1;
}

.header-nav nav .mega {
  position: absolute;
  left: 0;
  right: 0;
  padding: 40px;
  width: 100%;
  background-color: $light-bg-color;
  line-height: 32px;
  box-shadow: 0 30px 20px 30px rgb(0 0 0 / 20%);
  z-index: 20;
  display: none;
}

nav li.has-child:hover .mega {
  display: block;
}

nav .mega h4 {
  font-size: 13px;
  text-transform: uppercase;
}

nav .mega ul {
  font-size: 14px;
}

nav .mega .women-brands {
  display: flex;
  flex-wrap: wrap;
  max-width: 180px;
}

nav .mega .women-brands li {
  min-width: 80px;
}

nav .mega .view-all {
  margin-top: 16px;
}

nav .mega .products {
  flex: 1;
  padding: 0;
  align-items: center;
  position: relative;
}

nav .mega .products .row {
  width: 100%;
}

nav .mega .products .media {
  height: 400px;
}

.products .media {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}

nav .mega .products .text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: absolute;
  bottom: 64px;
  width: 100%;
}
nav .mega .products .text-content h4 {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  color: $secondary-dark-color;
}

.header-main {
  background-color: $secondary-dark-color;
  padding: 24px 0;
  margin-bottom: 32px;
}

.dpt-cat {
  position: relative;
  z-index: 10;
}

.dpt-cat .dpt-head {
  position: relative;
  width: 300px;
  padding: 20px 28px;
  background-color: $primary-color2;
  border-radius: 7px 7px 0 0;
  color: white;
  margin-bottom: -24px;
}

.dpt-cat .dpt-head .mini-text {
  color: $light-bg-color;
}

.dpt-cat .dpt-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  width: 60px;
  padding: 20px;
}

.header-main .right {
  flex: 1;
  max-width: 900px;
  margin-left: auto;
}

form {
  position: relative;
}

form.search input {
  line-height: 52px;
  padding: 0 112px 0 52px;
  width: 100%;
  border: 0;
  outline: 0;
  border-radius: 10px;
  font-size: 16px;
}
form.search :where(span, button) {
  position: absolute;
  top: 0;
  font-size: 16px;
  padding: 12px 20px;
  color: $light-text-color;
  height: 100%;
}

form.search button {
  border: 0;
  outline: 0;
  right: 0;
  font-size: 16px;
  border-radius: 0 7px 7px 0;
  background-color: $primary-color2;
  color: #fff;
  transition: all 0.2s;
}

form.search button:hover {
  cursor: pointer;
  background-color: $dark-color;
}

.dpt-menu > ul > li > a {
  font-size: 13px;
  height: 46px;
  align-items: center;
}
.dpt-menu > ul > li > a > .icon-small {
  font-size: 12px;
}
.dpt-menu > ul > li > a > .icon-large {
  font-size: 16px;
}
.dpt-cat .dpt-menu .has-child > ul,
.dpt-cat .dpt-menu .mega {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: auto;
  min-height: 100%;
  line-height: 30px;
  padding: 24px;
  border: 1px solid $boder-color;
  border-top: 0;
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
}
.dpt-cat .dpt-menu .mega {
  width: auto;
}

.dpt-cat .dpt-menu .has-child:hover ul {
  display: block;
}
.dpt-cat .dpt-menu .has-child:hover .mega {
  display: flex;
}

.dpt-cat .dpt-menu .beauty ul {
  background-image: url(../assets/menu/menu_bg1.jpg);
}
.dpt-cat .dpt-menu .electric ul {
  background-image: url(../assets/menu/menu_bg2.jpg);
}
.dpt-cat .dpt-menu .fashion ul {
  background-image: url(../assets/menu/menu_bg3.jpg);
}
.dpt-cat .dpt-menu .homekit .mega {
  background-image: url(../assets/menu/menu_bg4.jpg);
}
.dpt-cat .dpt-menu .has-child > .mega::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.dpt-menu .has-child ul li a:hover {
  text-decoration: underline;
}

.slider .item {
  position: relative;
  height: 500px;
}
.slider .item::before {
  content: "";
  position: absolute;
  width: 450px;
  height: 300px;
  top: 30%;
  background-color: #fff;
  filter: blur(50px);
  z-index: 1;
  opacity: 0.8;
}

.slider .text-content {
  position: absolute;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 0 0 10% 10%;
  z-index: 10;
}

.slider h4 {
  background-color: #333;
  color: white;
  width: fit-content;
  padding: 4px 10px;
  border-radius: 4px;
}

.text-content :where(h2, h3) span:first-child {
  font-weight: 300;
  font-size: 50px;
}

.text-content :where(h2, h3) span:last-child {
  font-weight: 600;
  font-size: 50px;
  color: $secondary-color;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.text-content a {
  line-height: 32px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #333;
}

.brand .wrapper {
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 32px 0;
}

.brand .item img {
  opacity: 0.25;
  transition: all 0.3s;
}

.brand .item:hover img {
  opacity: 1;
}




.sectop {
  justify-content: space-between;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border: 1px solid $boder-color;
}

.sectop h2 {
  position: relative;
  font-size: 24px;
  font-weight: 700;
}

.sectop h2 span:not(.circle) {
  padding-left: 46px;
}

.sectop .circle {
  top: -5px;
}

.products-big{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products-big .products.big{
  width: 30%;
}
.products-big .products-mini{
  width: 68%;
}
.products-mini{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.trending .products-mini .products {
  flex: 0 0 48%;
}

.trending .products .offer {
  text-align: center;
  margin-bottom: 24px;
}

.products .item{
  display: flex;
  position: relative;
}
.products .offer p {
  text-transform: uppercase;
  margin-bottom: 8px;
}

.products .offer ul {
  gap: 8px;
}
.products .offer ul li {
  position: relative;
  width: 34px;
  height: 34px;
  padding: 5px;
  color: $secondary-dark-color;
  background-color: $light-bg-color;
  border-radius: 5px;
}

.products .offer ul li:not(:last-child)::before {
  content: ":";
  position: absolute;
  right: -6px;
  color: $light-text-color;
}

.products.big .item {
  flex-direction: column;
  padding: 40px;
  border: 2px solid $secondary-dark-color;
  border-radius: 7px;
  max-width: 460px;
  margin: 0 auto;
}

.products :where(.image, .thumbnail) img {
  transition: transform 0.3s;
}
.products :where(.image, .thumbnail):hover img {
  transform: scale(1.1);
}

.products .hoverable {
  position: absolute;
  top: 0;
  right: 0;
}

.products .hoverable li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin: 4px;
  border-radius: 50%;
  line-height: 1;
  background-color: #fff;
  opacity: 0.5;
  transition: ease-in-out, opacity 0.3s;
}

.products .item:hover .hoverable li a {
  opacity: 1;
}

.products .hoverable li.active a:hover {
  background-color: #794afa;
}

.products .hoverable li:not(.active) {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}

.products .item:hover .hoverable li {
  transform: translateX(0);
  opacity: 1;
}

.products .hoverable li:last-child {
  transition-delay: 0.1s;
}

.products .discount {
  right: 0;
  bottom: 0;
  top: auto;
  left: auto;
  background-color: transparent;
  z-index: 1;
}

.products .discount span{
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.products .content{
  display: flex;
  flex-direction: column;
}

.products:where(.big, .main) .content{
  gap: 16px;
  margin-top: 20px;
}

.products .rating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.products .rating .stars{
  font-size: 12px;
  width: 80px;
  height: 20px;
}

.products h3{
  overflow: hidden;
  text-overflow: ellipsis;
}

.products h3 a:hover{
  text-decoration: underline;
  color: #000;
}

.products .price .current{
  font-size: 24px;
  color: $primary-color2;
  margin-right: 4px;
}

.products .price .normal{
  color: $light-text-color;
  text-decoration: line-through;
  font-size: 20px;
}

.products .stock .qty{
  display: flex;
  justify-content: space-between;
}

.products .stock .bar{
  height: 3px;
  margin-top: 16px;
  background-color: $boder-color;
  overflow: hidden;
}

.products .stock .available{
  height: 3px;
  width: 21%;
  background-color: $secondary-color;
}

.products.mini .item{
  margin-bottom: 32px;
}
.products.mini .media{
  width: 130px;
  height: 160px;
  margin-right: 20px;
}

.products.mini .content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products .stock-danger{
  color: $primary-color2;
}

.products.main{
  justify-content: space-between;
}
.products.main .item{
  display: flex;
  flex-direction: column;
  flex: 0 0 30%;
  padding-bottom: 32px;
}

.products.main .media{
  height: 560px
}

@import "responsive";
