@import "variables";
@import "default";

// header-top
.header-top .wrapper {
  font-size: 14px;
  font-weight: 300;
  justify-content: space-between;
  line-height: 42px;
}
.header-top .wrapper ul {
  gap: 32px;
}

.header-top ul li:nth-child(5),
.header-top ul li:nth-child(4) {
  position: relative;
}
.header-top ul ul {
  position: absolute;
  left: -16px;
  background-color: #fff;
  border: solid 1px $boder-color;
  z-index: 10;
  line-height: 32px;
  display: none;
}
:where(.header-top, .thetop-nav) .right .current a {
  background-color: $boder-color;
}
:where(.header-top, .thetop-nav) .right ul ul li a {
  padding: 4px 16px;
}
.header-top li:hover ul {
  display: block;
}
.header-top .right ul ul li:hover {
  background-color: $dark-bg-color;
}

// header nav

.header-nav {
  margin-bottom: 24px;
  border-bottom: 1px solid $boder-color;
}
.trigger {
  font-size: 24px;
  padding: 4px;
  margin-right: 8px;
}

.logo a {
  font-size: 28px;
  font-weight: 600;
  display: flex;
  position: relative;
  margin-right: 32px;
  padding-left: 12px;
}

.circle {
  position: absolute;
  top: -15px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: $light-bg-color;
  z-index: -1;
}

.circle::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: $secondary-color;
  opacity: 0.4;
}

.header-nav nav > ul {
  line-height: 100px;
  gap: 32px;
}

.fly-item {
  position: absolute;
  height: 16px;
  font-weight: 300;
  padding: 3px;
  line-height: 10px;
  text-align: center;
  color: #fff;
}

nav .fly-item {
  top: 24%;
  background-color: $primary-color2;
  border-radius: 3px;
  right: -42px;
}

.header-nav .right {
  position: relative;
  margin-left: auto;
}

.header-nav .right .icon-large {
  position: relative;
}

.header-nav .right .fly-item {
  width: 20px;
  height: 20px;
  background-color: $secondary-dark-color;
  border-radius: 50%;
  top: -10px;
  right: 4px;
}
.fly-item .item-number {
  position: absolute;
  top: 3px;
  right: 5px;
  font-size: 16px;
}
.second-links {
  gap: 10px;
}

.header-nav nav .mega .wrapper {
  display: flex;
}

.mega .flexcol {
  flex: 1;
  min-width: 180px;
  padding-right: 40px;
  margin-bottom: 24px;
  z-index: 1;
}

.header-nav nav .mega {
  position: absolute;
  left: 0;
  right: 0;
  padding: 40px;
  width: 100%;
  background-color: $light-bg-color;
  line-height: 32px;
  box-shadow: 0 30px 20px 30px rgb(0 0 0 / 20%);
  z-index: 1;
  display: none;
}

nav li.has-child:hover .mega {
  display: block;
}

nav .mega h4 {
  font-size: 13px;
  text-transform: uppercase;
}

nav .mega ul {
  font-size: 14px;
}

nav .mega .women-brands {
  display: flex;
  flex-wrap: wrap;
  max-width: 180px;
}

nav .mega .women-brands li {
  min-width: 80px;
}

nav .mega .view-all {
  margin-top: 16px;
}

nav .mega .products {
  flex: 1;
  padding: 0;
  align-items: center;
  position: relative;
}

nav .mega .products .row {
  width: 100%;
}

nav .mega .products .media {
  height: 400px;
}

.products .media {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}

nav .mega .products .text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: absolute;
  bottom: 64px;
  width: 100%;
}
nav .mega .products .text-content h4 {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  color: $secondary-dark-color;
}

.header-main {
  background-color: $secondary-dark-color;
  padding: 24px 0;
  margin-bottom: 32px;
}

.dpt-cat {
  position: relative;
  // z-index: 10;
}

.dpt-cat .dpt-head {
  position: relative;
  width: 300px;
  padding: 20px 28px;
  background-color: $primary-color2;
  border-radius: 7px 7px 0 0;
  color: white;
  margin-bottom: -24px;
}

.dpt-cat .dpt-head .mini-text {
  color: $light-bg-color;
}

.dpt-cat .dpt-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  width: 60px;
  padding: 20px;
}

.header-main .right {
  flex: 1;
  max-width: 900px;
  margin-left: auto;
}

form {
  position: relative;
}

form.search input {
  line-height: 52px;
  padding: 0 112px 0 52px;
  width: 100%;
  border: 0;
  outline: 0;
  border-radius: 10px;
  font-size: 16px;
}
form.search :where(span, button) {
  position: absolute;
  top: 0;
  font-size: 16px;
  padding: 12px 20px;
  color: $light-text-color;
  height: 100%;
}

form.search button {
  border: 0;
  outline: 0;
  right: 0;
  font-size: 16px;
  border-radius: 0 7px 7px 0;
  background-color: $primary-color2;
  color: #fff;
  transition: all 0.2s;
}

form.search button:hover {
  cursor: pointer;
  background-color: $dark-color;
}

.dpt-menu > ul > li > a {
  font-size: 13px;
  height: 46px;
  align-items: center;
}
.dpt-menu > ul > li > a > .icon-small {
  font-size: 12px;
}
.dpt-menu > ul > li > a > .icon-large {
  font-size: 16px;
}
.dpt-cat .dpt-menu .has-child > ul,
.dpt-cat .dpt-menu .mega {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: auto;
  min-height: 100%;
  line-height: 40px;
  padding: 24px;
  border: 1px solid $boder-color;
  border-top: 0;
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
}

.dpt-cat .dpt-menu .has-child:hover ul {
  display: block;
}
.dpt-cat .dpt-menu .has-child:hover .mega {
  display: flex;
}

.dpt-menu .mega {
  min-width: 100%;
  width: auto;
}

.dpt-cat .dpt-menu .beauty ul {
  background-image: url(../assets/menu/menu_bg1.jpg);
}
.dpt-cat .dpt-menu .electric ul {
  background-image: url(../assets/menu/menu_bg2.jpg);
}
.dpt-cat .dpt-menu .fashion ul {
  background-image: url(../assets/menu/menu_bg3.jpg);
}
.dpt-cat .dpt-menu .homekit .mega {
  background-image: url(../assets/menu/menu_bg4.jpg);
}
.dpt-cat .dpt-menu .has-child > .mega::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.dpt-menu .has-child ul li a:hover {
  text-decoration: underline;
}

@import "responsive";
